*{
    margin: 0;
    padding: 0;
}
#bg-section{
    background-image: url(../images/gradientbg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: fixed;
}
header{
    background-color: rgba(0, 0, 0, 0.271);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}